nav{
   
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    

}
nav ul{
    margin: 0;
    Padding: 0;
    display: flex;
    

}
nav ul li{
    list-style: none;
    margin: 0 25px;
    transition: 0.5%;
    display: inline-block;
    
}
nav ul li a {
    display: block;
    position:  relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
   


}
nav ul:hover li a {
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
    

}
nav ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);

}
nav ul li a:before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#12435a,#060c21);
    transition:  transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
    border-radius: 10px;


}
nav ul li a:hover:before
{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

/*----------------------------------------------------------------*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(125deg,#8e44ad,#e74c3c,#2980b9,#27ae60,#2c3e50);
    background-size: 400% 400%;
    animation: bganimation 15s infinite;
  }

  .space
  {
      height: 30px;
  }
  section{
    display: flex;
    justify-content: space-around;
  }
  .text{
    margin-top:0px ;
    padding-top:0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: justify;
    width: 30%;
    
    
  }
  .text img{ 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 20px 50px rgba(0, 0, 0,2.5);
  }
  .text p{
      margin: 1px;
      padding: 0px;
  }
  .text h1{
    text-transform: uppercase;
}
.contacts, .lang ,.pro{
    padding: 4px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0,2.5);
    transform: skew(1deg,1deg);
}
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
  .text2
  {
    color: white;
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .text2 h2{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom:5px; 
  }

  .text2 .first{
    margin-top: 20px;
    padding: 4px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0,2.5);
    transform: skew(1deg,1deg);
  }
  .second{
    margin-top: 40px; 
    padding: 4px;
    width: 80%;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0,2.5);
    transform: skew(1deg,1deg);
}
.second p{
  padding: 4px;
}
@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.timeline
{
	position: relative;
	margin: 50px auto;
	padding: 40px 0;
  width: 80%;
}
.timeline:before
{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	width: 2px;
	height: 100%;
	background-image: linear-gradient(125deg,#8e44ad,#e74c3c,#2980b9,#27ae60,#2c3e50);
  background-size: 400% 400%;
  animation: bganimation 10s infinite;
}
.timeline ul
{
	margin: 0;
	padding: 0;
}
.timeline li
{
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 40px;
	box-sizing: border-box;
}
.timeline li .content
{
  padding-bottom: 20px;
  border-radius: 5px;
  
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0,2.5);
    transform: skew(1deg,1deg);
}
.timeline li:nth-child(odd)
{
	float: left;
	clear: both;
	text-align: right;
}
.timeline li:nth-child(odd):before
{
	content: '';
	position: absolute;
	top: 24px;
	right: -6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-image: linear-gradient(125deg,#8e44ad,#e74c3c,#2980b9,#27ae60,#2c3e50);
  background-size: 400% 400%;
  animation: bganimation 10s infinite;
	box-shadow: 0 10px 30px rgba(0, 0, 0,2.5);
}
.timeline li:nth-child(even)
{
	float: right;
	clear: both;
	text-align: left;
}
.timeline li:nth-child(even):before
{
	content: '';
	position: absolute;
	top: 24px;
	left: -4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-image: linear-gradient(125deg,#8e44ad,#e74c3c,#2980b9,#27ae60,#2c3e50);
  background-size: 400% 400%;
  animation: bganimation 10s infinite;
	box-shadow: 0 10px 30px rgba(0, 0, 0,2.5);
}
.timeline li h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
  color :rgba(255, 255, 0, 0.5);
}
.timeline li p
{
	margin: 10px 0 0;
	padding: 0;
}
.timeline li .time h4
{
	margin: 0;
	padding: 0;
  font-size: 20;
  
}
.timeline li:nth-child(odd) .time
{
	position: absolute;
	top: 12px;
	right: -165px;
	margin: 0;
	padding: 8px 16px;
  background-image: linear-gradient(125deg,#8e44ad,#e74c3c,#2980b9,#27ae60,#2c3e50);
  background-size: 400% 400%;
  animation: bganimation 10s infinite;
	color: #fff;
	border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0,2.5);
  transform: skew(1deg,1deg);
}
.timeline li:nth-child(even) .time
{
	position: absolute;
	top: 12px;
	left: -165px;
	margin: 0;
	padding: 8px 16px;
  background-image: linear-gradient(125deg,#8e44ad,#e74c3c,#2980b9,#27ae60,#2c3e50);
  background-size: 400% 400%;
  animation: bganimation 10s infinite;
	color: #fff;
	border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0,2.5);
  transform: skew(1deg,1deg);
}